%figure.service-card
  - widget = k(:service_card_widget, service)
  = link_to service do
    = image_tag(widget.large_thumb, width: 220, height: 134)
    %figcaption
      %p.service-title.trunc= widget.title
      %p.service-vendor= widget.vendor
      -#%p.service-desc= widget.short_desc
      %p.service-place= widget.place
      %p.service-price= widget.price

      -#= hidden_field_tag :rating, nil, class: 'rating'
