- content_for(:head) do
  = javascript_include_tag '//api-maps.yandex.ru/2.1/?lang=ru_RU'

%h1= @service.title
%h2= @service.vendor.name

%section.col-sm-9.service-info
  = render 'photos', photos: @service.images

  %p.main-descr
    = raw @service.description

  - place = @service.place
  - if place
    .row(style="position: relative; width:700px; margin-bottom: 20px;")
      .col-sm-6(style="width: 450px;")
        #map(style="width: 450px; height: 250px;"){ data: { long: place.longitude, lat: place.latitude, address: place.address } }
      .col-sm-3(style="margin-left: 10px;")
        %p= place.city.name
        %p= place.address

%aside.appointment.col-sm-3
  - if user_signed_in? || true
    = link_to 'Отправить заявку!', tickets_path(service_id: @service.id), method: :post, class: 'appoint_link'

  .big-rate
    %h3 Рейтинг
    = hidden_field_tag :rating, nil, class: 'rating'

  .admin
    - if policy(@service).update?
      = link_to 'редактировать', edit_admin_service_path(@service)
