%section#recent-works
  .container
    .center.wow.fadeInDown.animated
      %h2 Лучшие наемники нашего сервиса
      %p.lead
        Здесь представленный самые популярные и восстребованные работы наших наемников.
        %br/
        Смотрите,задавайте вопросы,ставьте лайки, звоните наемникам!
    .row
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          .img-wrap
            = image_tag("best_user/item10_thumb.jpg",:class=>"img-responsive",:alt => "")
          .overlay
            .recent-work-inner
              %span.recent-price 950 p
              %h3.recent-title
                %a{:href => "#"} Кованая роза!
              %p
                %a{:href => "#",:class=>"recent-meta"}Ручная работа
                |
                %a{:href => "#",:class=>"recent-meta"}Художественная ковка
              %p.recent-desc В наличие и на заказ! Применяется при изготовлении кованых панно, букетов, решеток и оград.
              %a.preview{:href => "best_user/item10.jpg", :rel => "prettyPhoto"}
                %i.fa.fa-eye
                Смотреть
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          .img-wrap
            = image_tag("best_user/item16_thumb.jpg",:class=>"img-responsive",:alt => "")
          .overlay
            .recent-work-inner
              %span.recent-price 8 000 p
              %h3.recent-title
                %a{:href => "#"} Стимпанк
              %p
                %a{:href => "#",:class=>"recent-meta"}Ручная работа
                |
                %a{:href => "#",:class=>"recent-meta"}Часы. Ручная работа.
              %p.recent-desc Металл, детали машин, сварка. Возможна реализация ваших фантазий в металле!
              %a.preview{:href => "best_user/item16.jpg", :rel => "prettyPhoto"}
                %i.fa.fa-eye
                Смотреть
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          .img-wrap
            = image_tag("best_user/item13_thumb.jpg",:class=>"img-responsive",:alt => "")
          .overlay
            .recent-work-inner
              %span.recent-price 15 000 p
              %h3.recent-title
                %a{:href => "#"} Корабль в миниатюрe
              %p
                %a{:href => "#",:class=>"recent-meta"} Скульптура, резьба
                |
                %a{:href => "#",:class=>"recent-meta"} Резьба
              %p.recent-desc В наличие и на заказ! Корабль в миниатюре. С пушками
              %a.preview{:href => "best_user/item13.jpg", :rel => "prettyPhoto"}
                %i.fa.fa-eye
                Смотреть
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          .img-wrap
            = image_tag("best_user/item11_thumb.jpg",:class=>"img-responsive",:alt => "")
          .overlay
            .recent-work-inner
              %span.recent-price 1 200 p
              %h3.recent-title
                %a{:href => "#"} Костюм детский, вязанный.
              %p
                %a{:href => "#",:class=>"recent-meta"}Вязание, шитье
                |
                %a{:href => "#",:class=>"recent-meta"}Готовые изделия
              %p.recent-desc В наличие и на заказ! Костюм детский, вязанный. Новый.
              %a.preview{:href => "best_user/item11.jpg", :rel => "prettyPhoto"}
                %i.fa.fa-eye
                Смотреть
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          .img-wrap
            = image_tag("best_user/item12_thumb.jpg",:class=>"img-responsive",:alt => "")
          .overlay
            .recent-work-inner
              %span.recent-price 500 p
              %h3.recent-title
                %a{:href => "#"} Ночной проспект
              %p
                %a{:href => "#",:class=>"recent-meta"}Ручная работа
                |
                %a{:href => "#",:class=>"recent-meta"}Вышивание
              %p.recent-desc Набор для вышивания.Состав: Хлопковое мулине, Игла, Канва хлопковая, Цветная схема
              %a.preview{:href => "best_user/item12.jpg", :rel => "prettyPhoto"}
                %i.fa.fa-eye
                Смотреть
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          .img-wrap
            = image_tag("best_user/item2_thumb.jpg",:class=>"img-responsive",:alt => "")
          .overlay
            .recent-work-inner
              %span.recent-price 50p
              %h3.recent-title
                %a{:href => "#"} Открытка декоративная
              %p
                %a{:href => "#",:class=>"recent-meta"}Ручная работа
              %p.recent-desc Лучший подарок теплые слова,которые написанн на такой красивой, красивой открытке!!! много много слов
              %a.preview{:href => "best_user/item2.jpg", :rel => "prettyPhoto"}
                %i.fa.fa-eye
                Смотреть
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          .img-wrap
            = image_tag("best_user/item7_thumb.jpg",:class=>"img-responsive",:alt => "")
          .overlay
            .recent-work-inner
              %span.recent-price 950p
              %h3.recent-title
                %a{:href => "#"} Овца
              %p
                %a{:href => "#",:class=>"recent-meta"} Шитье
                |
                %a{:href => "#",:class=>"recent-meta"} Игрушки
              %p.recent-desc овца
              %a.preview{:href => "best_user/item7.jpg", :rel => "prettyPhoto"}
                %i.fa.fa-eye
                Смотреть
      .col-xs-12.col-sm-4.col-md-3
        .recent-work-wrap
          .img-wrap
            = image_tag("best_user/item4_thumb.jpg",:class=>"img-responsive",:alt => "")
          .overlay
            .recent-work-inner
              %span.recent-price 950 p
              %h3.recent-title
                %a{:href => "#"} Кованая роза!
              %p
                %a{:href => "#",:class=>"recent-meta"}Ручная работа
                |
                %a{:href => "#",:class=>"recent-meta"}Художественная ковка
              %p.recent-desc В наличие и на заказ! Применяется при изготовлении кованых панно, букетов, решеток и оград.
              %a.preview{:href => "best_user/item4.jpg", :rel => "prettyPhoto"}
                %i.fa.fa-eye
                Смотреть