= bootstrap_form_for([:admin, @service], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10') do |f|
  = f.text_field :title
  = f.text_field :description
  = f.select(:category_id, ServiceCategory.all.map {|c| [ c.title, c.id ] })
  = f.select(:vendor_id, Vendor.all.map {|c| [ c.name, c.id ] })

  = f.submit 'Сохранить'

  = link_to t('.cancel', :default => t('helpers.links.cancel')), services_path, :class => 'btn btn-default'

%hr

- if @service.persisted?
  = render partial: 'shared/fileupload/upload', locals: { owner_klass: Service.model_name, owner_id: @service.id, assoc: 'images' }
