= form_for @vendor, html: { class: "form form-horizontal vendor" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@vendor[:name])
  .form-group
    = f.label :permalink, class: 'control-label'
    .controls
      = f.text_field :permalink, class: 'form-control', required: true
    = error_span(@vendor[:permalink])
  .form-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_field :description, class: 'form-control', required: true
    = error_span(@vendor[:description])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), vendors_path, :class => 'btn btn-default'
