%section#recent-works
  .container
    .center.wow.fadeInDown.animated
      %h2 Лучшие услуги нашего сервиса
      %p.lead
        Здесь представленный самые популярные и восстребованные работы наших мастеров.
        %br/
        Смотрите,задавайте вопросы,ставьте лайки, звоните мастерам!
    .row
      - @best_services.each do |service|
        .col-xs-12.col-sm-4.col-md-3
          .recent-work-wrap
            .img-wrap
              = image_tag(service.main_image.image.url(:large_thumb), class: 'img-responsive')
            .overlay
              .recent-work-inner
                %span.recent-price
                  = service.price
                  p
                %h3.recent-title
                  = link_to service.title, service
                %p
                  - service.categories.each_with_index do |category, i|
                    - unless i.zero?
                      |
                    = link_to category.title, '#', class: 'recent-meta'
                %p.recent-desc= service.description
                -#%a.preview{:href => "best_user/item10.jpg", :rel => "prettyPhoto"}
                  %i.fa.fa-eye
                  Смотреть
