%section.b-category
  .container
    .center.wow.fadeInDown.animated
      %h2 Каталог
      %p.lead
        Для удобства пользования нашим сервисом мы выделили категории и разделы
    .row
      - @categories.each do |category, subcategories|
        .work.col-lg-4.col-md-6.center
          = image_tag(category.image.url)
          %h4= category.title
          - if subcategories.any?
            %p
              - subcategories.keys.each_with_index do |subcategory, i|
                - link = link_to(subcategory.title, subcategory)
                - if i.zero?
                  = succeed ',' do
                    = link
                - else
                  = link

          .b-category-link
            = link_to category do
              %i.fa.fa-eye{:title => 'Смотреть лучшие работы'}
